.panel {
    background-color: #222831;
    width: 30%;
    min-height: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 3px;
    border-radius: 10px;
    padding: 7px;
}
input[type=email],[type=password] {
    margin-left: 10px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    background-repeat: no-repeat;
    background-position: 98%;
    outline: none;
    border: 0;
    padding: 5px  5px  5px;
}

input[id=e-mail] {
    background-image: url(../image/icon/mail.png);
    background-size: auto 60%;
}
input[id=password] {
    background-image: url(../image/icon/lock.png);
    background-size: auto 60%;
}

.container {
    width: 60%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.text {
    display: inline-block;
    margin-top: auto;
    text-align: right;
    width: 50%;
}

.submit {
    cursor: pointer;
    height: 50px;
    width: 50%;
    border: 10px;
    border-radius: 30px;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px;
    background-color: #ffd369;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.submit:active, .submit:focus {
    outline: none;
}
.submit::-moz-focus-inner {
    border: 0;
}
.submit:hover {
    background-color: #eeeeee;
}

.panel p a {
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.panel p a:hover {
    font-size: 125%;
}



