body {
    background-color: #393e46;
    color : #eeeeee;
}

.panel {
    background-color: #222831;
    box-shadow: 0 0 1px 1px #161616;
}

h1, h2, h3{
    color : #ffd369;
}


button , input[type=submit]{
    background-color: #ffd369;
}
button:hover, input[type=submit]:hover {
    background-color: #eeeeee;
}
.menu-toggle {
    color: #ffd369;
}
.menu-toggle:hover {
    color: #f4f4f4;
}

.menu {
    box-shadow: 0 0 1px 1px #161616;
    background: #222831;
}

a {
    color : #ffd369;
}

a:hover {
    color : #eeeeee;
}

hr {
    border: none;
    color: #ffd369;
    background-color: #ffd369;
    height: 1px;
}
.menu > ul > li > a:after {
    background: #ffd369;
}
.menu > ul > li > a:hover:before {
    background: #ffd369;
}

.open-button {
    background-color: #222831;
}

.open-content--show {
    background-color: #222831;
}
.open-content {
    background-color: #222831;
}