body {
    background-color: #eeeeee;
    color : #393e46;
}

.panel {
    background-color: #ffd369;;
    box-shadow: 0 0 1px 1px #222831;
}

h1, h2, h3{
    color : #222831;
}

button , input[type=submit]{
    color : #eeeeee;
    background-color: #222831;
}
button:hover, input[type=submit]:hover {
    background-color: #eeeeee;
    color: #222831;
}

a {
    color : #222831;
}

a:hover {
    color : #eeeeee;
}

hr {
    color: #222831;
    background-color: #222831;
}
/*---------menu---------------*/
.menu > ul > li > a:before {
    background-color: #222831;
}
.menu > ul > li > a:hover:before {
    background: #222831;
}
.menu-toggle {
    color: #222831;
}
.menu-toggle:hover {
    color: #222831;
}
.menu > ul > li > a:after {
    background: #222831;
}
.menu {
    box-shadow: 0 0 1px 1px #222831;
    background: #ffd369;
}
/*-----------main----------*/
.open-button {
    background-color: #ffd369;
}
.open-content--show {
    background-color: #ffd369;
}

.open-content {
    background-color: #ffd369;
}